#!/usr/bin/env bash

source /opt/scripts/admin-openrc.sh

neutron net-create ext-net --router:external --provider:physical_network external --provider:network_type flat
neutron subnet-create ext-net 172.25.5.0/24 --name ext-subnet  --allocation-pool start=172.25.5.101,end=172.25.5.200  --disable-dhcp --gateway 172.25.5.1

#neutron subnet-create ext-net 172.21.250.0/24 --name ext-subnet  --allocation-pool start=172.21.250.17,end=172.21.250.254  --disable-dhcp --gateway 172.21 .250.1

neutron net-create admin-net
neutron subnet-create admin-net 192.168.45.0/24 --name admin-subnet --gateway 192.168.45.1
neutron router-create admin-router
neutron router-interface-add admin-router admin-subnet
neutron router-gateway-set admin-router ext-net


nova secgroup-add-rule default tcp 1 65535 0.0.0.0/0
nova secgroup-add-rule default udp 1 65535 0.0.0.0/0
nova secgroup-add-rule default icmp -1 -1 0.0.0.0/0

source /opt/scripts/demo-openrc.sh

neutron net-create demo-net
neutron subnet-create demo-net 192.168.44.0/24 --name demo-subnet --gateway 192.168.44.1
neutron router-create demo-router
neutron router-interface-add demo-router demo-subnet
neutron router-gateway-set demo-router ext-net


nova secgroup-add-rule default tcp 1 65535 0.0.0.0/0
nova secgroup-add-rule default udp 1 65535 0.0.0.0/0
nova secgroup-add-rule default icmp -1 -1 0.0.0.0/0


#cirros-0.3.3-x86
# nova boot --flavor 1 --image cirros-0.3.3-x86 --security_group default cirr1
# nova boot --flavor 1 --key_name mykey --image cirros-0.3.3-x86 --security_group default cirr2