#!/usr/bin/env bash


ovs-vsctl add-br br-ex
ifconfig br-ex 172.25.5.1 netmask 255.255.255.0
ifconfig br-ex up
#iptables -t nat -A POSTROUTING -o {{ external_net_if }} -j MASQUERADE -m comment --comment "DevstackExt"
