#!/bin/bash

#source /vagrant/bootstrap.sh

create_fs_controller() {
    sudo mkfs.ext4 /dev/md0
    sudo mkdir -p /mnt/md0
    sudo chmod 777 /mnt/md0
    sudo bash -c "echo /dev/md0 /mnt/md0 ext4  rw,user,exec 0 0 >> /etc/fstab"
    sudo bash -c "echo chmod 777 /mnt/md0 >> /etc/rc.local"
    sudo mount /mnt/md0
    sudo chmod 777 /mnt/md0
}


create_fs_compute() {
    sudo mkfs.ext4 /dev/md0
    sudo mkdir -p /mnt/md0
    sudo chmod 777 /mnt/md0
    sudo bash -c "echo /dev/md0 /mnt/md0 ext4  rw,user,exec 0 0 >> /etc/fstab"
    sudo bash -c "echo chmod 777 /mnt/md0 >> /etc/rc.local"
    sudo mount /mnt/md0
    sudo chmod 777 /mnt/md0
}

create_lvm_cinder() {
    sudo pvcreate /dev/md1
    sudo vgcreate cinder-volumes /dev/md1
}

#https://romanrm.net/dd-benchmark
bechmark() {
    sync; dd if=/dev/zero of=bf bs=8k count=500000 conv=fdatasync; rm bf
}

#create_fs_controller
#create_fs_compute
#create_lvm