#!/usr/bin/env bash

source /var/scripts/admin-openrc.sh

keystone user-list | grep -q nova || keystone user-create --name nova --pass {{ service_users.nova.password }}
keystone user-role-list --user nova --tenant service | grep -q admin || keystone user-role-add --user nova --tenant service --role admin

echo "Create the service entity and API endpoints for the Identity service."
keystone service-list | grep -q nova || keystone service-create --name nova --type compute --description "OpenStack Compute"


#Create the nova endpoints:

keystone endpoint-list | grep -q "http://{{ os_hosts.controller.management_ip }}:8774/v2" || \
keystone endpoint-create \
  --service-id $(keystone service-list | awk '/ compute / {print $2}') \
  --publicurl http://{{ os_hosts.controller.management_ip }}:8774/v2/%\(tenant_id\)s \
  --internalurl http://{{ os_hosts.controller.management_ip }}:8774/v2/%\(tenant_id\)s \
  --adminurl http://{{ os_hosts.controller.management_ip }}:8774/v2/%\(tenant_id\)s \
  --region regionOne
