[DEFAULT]
use_neutron = True
firewall_driver = nova.virt.firewall.NoopFirewallDriver
auth_strategy = keystone
my_ip = {{ os_hosts.controller.management_ip }}
enabled_apis = osapi_compute,metadata
rpc_backend = rabbit

[api_database]
connection = mysql+pymysql://nova:{{ os_dbs.nova.password }}@{{ os_hosts.controller.management_ip }}/nova

[barbican]

[cache]

[cells]

[cinder]

[cloudpipe]

[conductor]

[cors]

[cors.subdomain]

[crypto]

[database]
connection = mysql+pymysql://nova:{{ os_dbs.nova.password }}@{{ os_hosts.controller.management_ip }}/nova

[ephemeral_storage_encryption]

[glance]
api_servers = http://{{ os_hosts.controller.management_ip }}:9292

[guestfs]

[hyperv]

[image_file_url]

[ironic]

[key_manager]

[keystone_authtoken]
auth_uri = http://{{ os_hosts.controller.management_ip }}:5000
auth_url = http://{{ os_hosts.controller.management_ip }}:35357
memcached_servers = {{ os_hosts.controller.management_ip }}:11211
auth_type = password
project_domain_name = default
user_domain_name = default
project_name = service
username = nova
password = {{ service_users.nova.password }}

[libvirt]

[matchmaker_redis]

[metrics]

[mks]

[neutron]

[osapi_v21]

[oslo_concurrency]
lock_path = /var/lib/nova/tmp

[oslo_messaging_amqp]

[oslo_messaging_notifications]

[oslo_messaging_rabbit]
rabbit_host = {{ os_hosts.controller.management_ip }}
rabbit_userid = openstack
rabbit_password = {{ rabbit_password }}

[oslo_messaging_zmq]

[oslo_middleware]

[oslo_policy]

[placement]

[placement_database]

[rdp]

[remote_debug]

[serial_console]

[spice]

[ssl]

[trusted_computing]

[upgrade_levels]

[vmware]

[vnc]
vncserver_listen = $my_ip
vncserver_proxyclient_address = $my_ip

[workarounds]

[wsgi]

[xenserver]

[xvp]

