#!/usr/bin/env bash

export OS_USERNAME={{ os_users.admin.username }}
export OS_PASSWORD={{ os_users.admin.password }}
export OS_PROJECT_NAME=admin
export OS_USER_DOMAIN_NAME=Default
export OS_PROJECT_DOMAIN_NAME=Default
export OS_AUTH_URL=http://{{ os_hosts.controller.management_ip }}:35357/v3
export OS_IDENTITY_API_VERSION=3