#!/usr/bin/env bash

export OS_TOKEN={{ keystone_admin_token }}
export OS_URL=http://{{ os_hosts.controller.management_ip }}:35357/v2.0


openstack service list  | grep -q keystone  || openstack service create --name keystone --description "OpenStack Identity" identity
openstack endpoint list | grep -q identity  || openstack endpoint create \
                                                 --publicurl http://{{ os_hosts.controller.management_ip }}:5000/v2.0 \
                                                 --internalurl http://{{ os_hosts.controller.management_ip }}:5000/v2.0 \
                                                 --adminurl http://{{ os_hosts.controller.management_ip }}:35357/v2.0 \
                                                 --region RegionOne \
                                                 identity



openstack project list | grep -q admin || openstack project create --description "Admin Project" admin
openstack user list    | grep -q admin || openstack user create admin --password {{ os_users.admin.password }}
openstack role list    | grep -q admin || openstack role create admin
openstack role list --user admin --project admin | grep -q admin || openstack role add --project admin --user admin admin

openstack project list | grep -q service || openstack project create --description "Service Project" service

openstack project list | grep -q demo || openstack project create --description "Demo Project" demo
openstack user list    | grep -q demo || openstack user create demo --password {{ os_users.demo.password }}
openstack role list    | grep -q user || openstack role create user
openstack role list --user demo --project demo | grep -q user ||  openstack role add --project demo --user demo user
