#!/usr/bin/env bash

source /opt/scripts/admin-openrc.sh


openstack project list | grep -q service || openstack project create --description "Service Project" service

openstack project list | grep -q demo || openstack project create --description "Demo Project" demo
openstack user list    | grep -q demo || openstack user create demo --password {{ os_users.demo.password }}
openstack role list    | grep -q user || openstack role create user
openstack role list --user demo --project demo | grep -q user ||  openstack role add --project demo --user demo user
