[DEFAULT]
verbose = True

sql_connection = mysql://heat:{{ os_dbs.heat.password }}@{{ os_hosts.controller.management_ip }}/heat
heat_metadata_server_url = http://{{ os_hosts.controller.management_ip }}:8000
heat_waitcondition_server_url = http://{{ os_hosts.controller.management_ip }}:8000/v1/waitcondition
heat_watch_server_url = http://{{ os_hosts.controller.management_ip }}:8003
db_backend = heat.db.sqlalchemy.api
log_dir = /var/log/heat
rpc_backend = rabbit
use_stderr = False
qpid_topology_version = 2

#stack_user_domain_id=a3c2ff8a10d64dc2a412f9cfaed57a76
stack_domain_admin = heat_domain_admin
stack_domain_admin_password = {{ heat_domain_pass }}
stack_user_domain_name = heat_user_domain

[keystone_authtoken]
auth_uri = http://{{ os_hosts.controller.management_ip }}:5000/v2.0
identity_uri = http://{{ os_hosts.controller.management_ip }}:35357
admin_tenant_name = service
admin_user = heat
admin_password = {{ service_users.heat.password }}
signing_dir = /tmp/keystone-signing-heat

[ssl]

[database]
connection = mysql://heat:{{ os_dbs.heat.password }}@{{ os_hosts.controller.management_ip }}/heat

[paste_deploy]
api_paste_config = /usr/share/heat/api-paste-dist.ini

[rpc_notifier2]

[ec2authtoken]
auth_uri = http://{{ os_hosts.controller.management_ip }}:5000/v2.0

[heat_api_cloudwatch]

[heat_api]

[heat_api_cfn]

[auth_password]

[matchmaker_ring]

[matchmaker_redis]