#!/usr/bin/env bash

source scripts/admin-openrc.sh

keystone user-list | grep -q glance || keystone user-create --name glance --pass {{ service_users.glance.password }}
keystone user-role-list --user glance --tenant service | grep -q admin || keystone user-role-add --user glance --tenant service --role admin

echo "Create the service entity and API endpoints for the Identity service."
keystone service-list | grep -q glance || keystone service-create --name glance --type image --description "OpenStack Image Service"


#Create the Glance endpoints:

keystone endpoint-list | grep -q "http://{{ os_hosts.controller.management_ip }}:9292" || \
  keystone endpoint-create \
    --service-id $(keystone service-list | awk '/ image / {print $2}') \
    --publicurl http://{{ os_hosts.controller.management_ip }}:9292 \
    --internalurl http://{{ os_hosts.controller.management_ip }}:9292 \
    --adminurl http://{{ os_hosts.controller.management_ip }}:9292 \
    --region regionOne



glance image-list | grep -q cirros || glance image-create --name "cirros-0.3.3-x86" --file ~/images/cirros-0.3.3-x86_64-disk.img --disk-format qcow2 --container-format bare --is-public True --progress
#glance image-list | grep -q trusty || glance image-create --name "trusty-server-cloudimg-amd64-disk1" --file ~/images/trusty-server-cloudimg-amd64-disk1.img --disk-format qcow2 --container-format bare --is-public True --progress
