[DEFAULT]
verbose = True
logdir = /var/log/cinder
state_path = /var/lib/cinder
lock_path = /var/lib/cinder
iscsi_helper = lioadm

rootwrap_config = /etc/cinder/rootwrap.conf
api_paste_confg = /etc/cinder/api-paste.ini
volume_name_template = volume-%s
volume_group = cinder-volumes
volumes_dir = /var/lib/cinder/volumes
# Method used to wipe old voumes (valid options are: none, zero, shred)
# (string value)
#volume_clear=zero

# Size in MiB to wipe at start of old volumes. 0 => all
# (integer value)
# only overwrite the first 50mb of the volume, thus wiping the partiton table if there is one
volume_clear_size = 50

rpc_backend = rabbit

auth_strategy = keystone

my_ip = {{ management_ip }}

[database]
connection = mysql://cinder:{{ os_dbs.cinder.password }}@{{ os_hosts.controller.management_ip }}/cinder

[oslo_messaging_rabbit]
rabbit_host = {{ os_hosts.controller.management_ip }}
rabbit_password = {{ rabbit_password }}
rabbit_userid = openstack

[keystone_authtoken]
auth_uri = http://{{ os_hosts.controller.management_ip }}:5000
identity_uri = http://{{ os_hosts.controller.management_ip }}:35357
project_domain_id = default
user_domain_id = default
project_name = service
username = cinder
password = {{ service_users.cinder.password }}


[oslo_concurrency]
lock_path = /var/lock/cinder
