[DEFAULT]
verbose = true

[cors]

[cors.subdomain]

[database]
connection = mysql+pymysql://glance:{{ os_dbs.glance.password }}@{{ os_hosts.controller.management_ip }}/glance

[glance_store]
stores = file,http
default_store = file
filesystem_store_datadir = {{ glance_root }}/var/lib/glance/images/

[image_format]

[keystone_authtoken]
auth_uri = http://{{ os_hosts.controller.management_ip }}:5000
auth_url = http://{{ os_hosts.controller.management_ip }}:35357
memcached_servers = {{ os_hosts.controller.management_ip }}:11211
auth_type = password
project_domain_id = default
user_domain_id = default
project_name = service
username = glance
password = {{ service_users.glance.password }}

[matchmaker_redis]

[oslo_concurrency]

[oslo_messaging_amqp]

[oslo_messaging_notifications]

[oslo_messaging_rabbit]

[oslo_messaging_zmq]

[oslo_middleware]

[oslo_policy]

[paste_deploy]
flavor = keystone

[profiler]

[store_type_location_strategy]

[task]

[taskflow_executor]

