[DEFAULT]
verbose = True

rootwrap_config = /etc/cinder/rootwrap.conf
api_paste_confg = /etc/cinder/api-paste.ini
iscsi_helper = tgtadm
volume_name_template = volume-%s
state_path = /var/lib/cinder
lock_path = /var/lock/cinder
volumes_dir = /var/lib/cinder/volumes
# Method used to wipe old voumes (valid options are: none, zero, shred)
# (string value)
#volume_clear=zero

# Size in MiB to wipe at start of old volumes. 0 => all
# (integer value)
# only overwrite the first 50mb of the volume, thus wiping the partiton table if there is one
volume_clear_size = 50

rpc_backend = rabbit


auth_strategy = keystone

my_ip = {{ management_ip }}

enabled_backends = lvm

glance_host = {{ os_hosts.controller.management_ip }}

[database]
connection = mysql://cinder:{{ os_dbs.cinder.password }}@{{ os_hosts.controller.management_ip }}/cinder

[keystone_authtoken]
auth_uri = http://{{ os_hosts.controller.management_ip }}:5000
auth_url = http://{{ os_hosts.controller.management_ip }}:35357
auth_plugin = password
project_domain_id = default
user_domain_id = default
project_name = service
username = cinder
password = {{ service_users.cinder.password }}

[lvm]
volume_driver = cinder.volume.drivers.lvm.LVMVolumeDriver
volume_group = cinder-volumes
iscsi_protocol = iscsi
iscsi_helper = lioadm

[oslo_messaging_rabbit]
rabbit_userid = openstack
rabbit_host = {{ os_hosts.controller.management_ip }}
rabbit_password = {{ rabbit_password }}

[oslo_concurrency]
lock_path = /var/lock/cinder
